@font-face {
    font-family: 'Josefin-Sans';
    src: url('./fonts/JosefinSansBoldItalic-EaJRg.ttf');
    font-display: swap;
}

/* color pallette: https://coolors.co/1a1423-31303f-363546-372549-615585-6c5f95-738290-f5efed */
:root {
    --font-color-primary: #f5efed;
    --bg-primary: #1a1423;
    --bg-grey-dark: #31303f;
    --bg-grey-light: #363546;
    --bg-secondary: #372549;
    --primary: #615585;
    --primary-hover: #6c5f95;
    --secondary: #738290;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--font-color-primary);
    height: 100vh;
}

header,footer {
    background-color: var(--bg-secondary);
    height: 3rem;
    width: 100%;
}

pre {
    margin-right: 4rem;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--font-color-primary);
    font-size: 1.25rem;
    padding: .5rem .75rem;
    margin: .25rem .5rem;
    border-radius: .25rem;
}

.button-link:hover {
    background-color: var(--primary-hover);
}

.button-icon {
    text-decoration: none;
    text-align: center;
    color: var(--font-color-primary);
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: .25rem .5rem;
    border-radius: 50%;
}

.button-icon:hover {
    background-color: var(--primary-hover);
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 60rem;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-link {
    color: var(--font-color-primary);
}

.header-logo {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.tes-logo {
   font-family: 'Josefin-Sans';
   color: var(--font-color-primary);
}

.tes-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    height: calc(100% - 3rem);
    overflow: auto;
}

.tes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
    background-color: var(--bg-grey-dark);
}

@media (max-width: 700px) {
    .tes-content-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 2rem;
    }

    .tes-content-logo {
        max-width: 60% !important;
    }

    .tes-blurb {
        flex-direction: column;
        align-items: center;
    }

    .tes-tile {
        max-width: 90% !important;
        margin: 0 1rem !important;
    }
}

.tes-content-heading {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid var(--bg-primary);
}

.tes-content-heading-blurb > h1 {
    font-weight: lighter;
}

.tes-content-heading-blurb > p {
    font-size: 1.125rem;
}

.tes-content-logo {
    max-width: 40%;
    width: 100%;
    margin: 0 2rem;
    fill: var(--font-color-primary);
}

.tes-blurb {
    display: flex;
    margin: 0 1rem;
    border-bottom: 1px solid var(--bg-primary);
}

.tes-examples {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 100%;
    margin-left: 2rem;
}

.tes-tile {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    max-width: 50%;
    width: 100%;
    border-radius: .5rem;
}

.tes-tile > h2 {
    font-weight: lighter;
    font-size: 1.75em;
}

.tes-anchor {
    text-decoration: none;
    color: var(--font-color-primary);
    margin: 1rem 0;
}

.tes-anchor:hover {
    text-decoration: underline;
}

.tes-code {
    border-radius: .25rem;
    max-width: 57rem;
}