:root {
    --font-color-primary: #f5efed;
    --bg-primary: #1a1423;
    --bg-grey-dark: #26242d;
    --bg-grey-light: #353341;
    --bg-light: #e1dee9;
    --bg-secondary: #3c2948;
    --primary: #615585;
    --primary-hover: #6c5f95;
    --secondary: #9aa0ab;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--font-color-primary);
    height: 100vh;
}

header,
footer {
    background-color: var(--bg-secondary);
    height: 3rem;
    width: 100%;
}

pre {
    margin-right: 4rem;
}

a {
    color: var(--font-color-primary);
}

a.link-dark {
    color: var(--primary);
}

a:not(.button-link):not(.button-icon):hover {
    color: var(--primary);
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link {
    text-decoration: none;
    background-color: var(--primary);
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.button-link:hover {
    background-color: var(--primary-hover);
}

.button-icon {
    text-decoration: none;
    text-align: center;
    color: var(--font-color-primary);
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.25rem 0.5rem;
    border-radius: 50%;
}

.button-icon:hover {
    background-color: var(--primary-hover);
}

.button-icon::before {
    margin-left: 0.0625rem;
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 60rem;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.footer-link {
    color: var(--font-color-primary);
}

.tes-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    height: calc(100% - 3rem);
    overflow: auto;
}

.tes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
    background-color: var(--bg-grey-dark);
}

@media (max-width: 700px) {
    .tes-content-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 2rem;
    }

    .tes-content-logo {
        max-width: 60% !important;
    }

    .tes-blurb {
        flex-direction: column;
        align-items: center;
    }

    .tes-tile {
        max-width: 90% !important;
        margin: 0 1rem !important;
    }
}

.tes-content-heading {
    display: flex;
    align-items: center;
    padding: 3rem 0 1rem 0;
    margin: 0 1rem;
}

.tes-content-heading-blurb > h1 {
    font-weight: lighter;
}

.tes-content-heading-blurb > p {
    font-size: 1.125rem;
}

.tes-content-logo {
    max-width: 40%;
    width: 100%;
    margin: 0 2rem;
    fill: var(--font-color-primary);
}

.tes-blurb {
    display: flex;
    margin: 0 1rem;
    border-bottom: 1px solid var(--bg-primary);
}

.tes-examples {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 100%;
    margin-left: 2rem;
}

.tes-examples section {
    margin: 0 1rem;
}

.tes-examples section pre code::-webkit-scrollbar {
    background: transparent;
    height: 0.25rem;
}
.tes-examples section pre code::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 100vw;
}

.tes-tile {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    max-width: 50%;
    width: 100%;
    border-radius: 0.5rem;
}

.tes-tile > h2 {
    font-weight: lighter;
    font-size: 1.75em;
}

.tes-anchor {
    text-decoration: none;
    color: var(--font-color-primary);
    margin: 1rem 0;
}

.tes-anchor:hover {
    text-decoration: underline;
}

.tes-code {
    border-radius: 0.25rem;
    max-width: 57rem;
}

.tes-support-img {
    height: 4rem;
    margin: 0 0.5rem;
    padding: 0.75rem;
    border-radius: 50%;
}

.tes-support-img:hover {
    background-color: var(--bg-grey-light);
}

.announcement {
    position: relative;
    margin: 0 2rem 1rem 2rem;
    padding: 0.5rem 1rem 0.5rem 4rem;

    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    color: var(--primary);
}

.version-alert {
    position: relative;
    margin: 0 2rem 1rem 2rem;
    padding: 0.5rem 1rem 0.5rem 4rem;

    border: 2px solid #dd0000;
    border-radius: 0.5rem;
    background-color: #fcd4d5;
    color: #dd0000;
}

.alert-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 2em;
}

.title {
    font-size: 125%;
    font-weight: bold;
}

.alert-text {
    margin: 0.5rem 0;
}

.alert-text > a {
    color: inherit;
}
