# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish to NPM

on:
  release:
    types: [published]
  pull_request:
    branches: [ main ]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - name: Get Current Version
        id: version
        run: |
          VERSION=$(cat package.json | jq '.version' | tr -d '"')
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
      - if: "contains(steps.version.outputs.version, 'beta')"
        run: echo "publishing beta version" && npm publish --tag beta --dry-run
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - if: "!contains(steps.version.outputs.version, 'beta')"
        run: echo "publishing release version" && npm publish --dry-run
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
        
